/* Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html,
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
}


/* header */

.header {
    background-color: #FF4F81;
    color: white;
}

.header__left {
    font-size: 1.4rem
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.header ul li a {
    color: white;
    text-decoration: none
}

.header__right ul li {
    padding: 0 0.3rem;
}

.header__right i {
    background-color: #333;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem
}

.header__right i:hover {
    border: 0.1rem solid white;
    background-color: #FF4F81;
    transition: all 0.5s
}


/* nav */

.nav .navbar-brand .nav__logo i,
.nav .navbar-brand .nav__logo span {
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
    color: black
}

.nav .navbar-brand .nav__logo p {
    text-align: center;
    font-size: 1rem;
    color: #FF4F81;
    letter-spacing: 0.3rem;
}

.nav__a {
    color: black;
    font-weight: bold
}

.nav a {
    color: black;
    font-size: 1.5rem
}

.nav li {
    padding: 0 2rem
}

.nav li::after {
    content: '';
    display: block;
    width: 0;
    height: 0.2rem;
    background-color: #FF4F81;
}

.nav li:hover a {
    color: #FF4F81;
    transition: all 0.5s
}

.nav li:hover::after {
    width: 100%;
    transition: all 0.5s;
}

.nav li.active a {
    color: #FF4F81;
}

.nav li.active::after {
    width: 100%;
}

.nav .navbar-toggler {
    background-color: black;
}

.nav .navbar-toggler .fa-bars {
    color: #FF4F81;
    font-size: 2rem
}

.nav__content .nav-item:nth-child(5) .nav__drop {
    background: rgba(0, 0, 0, 0.65);
}

.nav__content .nav-item:nth-child(5) .nav__drop a {
    background: none;
    color: white
}

.nav__content .nav-item:nth-child(5) .nav__drop a:hover {
    background: none;
    color: #FF4F81;
    transition: all 0.5s
}


/* banner */

.carousel-caption {
    width: 60%;
    margin: 0 auto
}

.carousel-inner .carousel-item img {
    height: 65rem;
}

.carousel-inner .carousel-caption h3 {
    font-size: 5.5rem;
}

.carousel-inner .carousel-caption h3 span {
    font-size: 5.5rem;
    font-weight: bold
}

.carousel-inner .carousel-caption p {
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    margin-top: 3rem;
}

.carousel-inner .carousel-item .banner__items {
    bottom: 30%;
}

.carousel-indicators {
    bottom: 20%
}

.banner__btn {
    padding: 1rem 3rem;
    margin-top: 3rem
}

.banner__btn span {
    font-size: 1.5rem
}

.banner__btn:hover {
    background-color: #FF4F81;
    border: 1px solid #FF4F81;
    color: white;
    transition: all 0.5s
}

.banner__slide .carousel-indicators li {
    width: 1rem;
    height: 1rem;
    border-radius: 50%
}


/* Modal */

.modal-header .modal-title {
    color: #FF4F81;
    font-size: 3rem;
    font-weight: 600;
}

.modal-body img {
    width: 100%;
    height: 100%;
}

.modal-body p {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #777;
}


/* education */

.education {
    padding-top: 8rem;
}

.education__top h2 {
    font-size: 4rem;
    color: #FF4F81;
    font-weight: bold;
    letter-spacing: 0.5px
}

.education__top span {
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: black
}

.line {
    width: 10rem;
    height: 0.3rem;
    margin: 0 auto;
    background-color: black;
}

.education__top p {
    font-size: 1.5rem;
    line-height: 1.8em;
    color: #999;
    width: 80%;
    margin: 6rem auto;
}

.education__col {
    border: 1px solid black;
    padding: 3rem;
}

.education__col i {
    font-size: 2.8rem;
    font-weight: bold;
}

.education__col h3 {
    font-size: 2.8rem;
    color: #FF4F81;
    margin: 2rem 0;
    font-weight: bold
}

.education__col h4 {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
}

.education__col p {
    color: #999;
    font-size: 15px;
    line-height: 3rem;
    margin: 2rem 0;
}


/* stats */

.stats {
    text-align: center;
    background-image: url("../img/g1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    margin-top: 8.5rem
}

.bg__black {
    width: 100%;
    height: 50rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.line__stats {
    width: 8rem;
    height: 0.2rem;
    margin: 0 auto;
    background-color: #333;
}

.stats__wrapper {
    margin: auto
}

.stats__wrapper h2 {
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 4rem;
    margin-bottom: 1.9rem;
    text-align: center;
    color: #ff4f81;
    text-transform: uppercase;
    position: relative;
}

.stats__wrapper p {
    display: block;
    font-size: 1.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
}

.stats__content {
    margin-top: 5rem
}

.stats__items i {
    font-size: 4rem;
    margin-bottom: 2rem
}

.stats__items h3 {
    color: #ff4f81;
    font-size: 2.5rem;
    font-weight: bold;
}

.stats__items p {
    font-size: 4.5rem;
}


/* offer */

.offer {
    text-align: center;
    padding-top: 8rem;
}

.offer h2 {
    font-size: 4rem;
    color: #FF4F81;
    font-weight: bold;
    letter-spacing: 0.5px
}

.offer span {
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: black
}

.offer__content {
    margin-top: 2rem
}

.offer__items {
    padding: 2.5rem;
    transition: all 0.5s;
    box-shadow: 0px 0px 4px 1px #aaa;
    -moz-box-shadow: 0px 4px 10px 1px #aaa;
    -webkit-box-shadow: 4px 0px 10px 1px #aaa;
    -o-box-shadow: 0px 4px 10px 1px #aaa;
    -ms-box-shadow: 0px 4px 10px 1px #aaa;
    margin-bottom: 3rem
}

.offer__items:hover {
    background-color: #12ccc3;
}

.offer__items i {
    color: #FF4F81;
    font-size: 4rem
}

.offer__items h3 {
    font-size: 20px;
    margin: 25px 0 20px;
    color: #212121;
    font-weight: 500;
}

.offer__items p {
    font-size: 14px;
    letter-spacing: .5px;
    color: #6b6b6b;
}


/* feedback */

.feedback {
    background-image: url("../img/banner3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 50rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    text-align: center
}

.feedback__content {
    margin: 0 auto
}

.feedback__wrapper h2 {
    color: #ff4f81;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem
}

.feedback__wrapper span {
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: white;
    margin-bottom: 3rem
}

.feedback__content {
    margin-top: 3rem
}

.feedback__p {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    color: white
}

.feedback__p p::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 25%;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(0, 0, 0, 0.23);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    transform: rotate(0deg);
}

.item {
    position: relative;
}

.feedback__content .item .feedback__img img {
    width: 15%;
    height: auto;
    display: block;
    margin-left: 15%;
}

.feedback__content .item .feedback__intro {
    position: absolute;
    bottom: -0.8rem;
    left: 32%;
}

.feedback__content .item .feedback__intro h4 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.feedback__content .item .feedback__intro p {
    color: #ff4f81;
    font-size: 1.6rem
}


/* MEDIA */

@media screen and (max-width:1200px) {
    .nav__content {
        background-color: #fff;
    }
}

@media screen and (max-width:992px) {
    .nav__content {
        background-color: #F8F9FA;
    }
}

@media screen and (max-width :576px) {
    .carousel-inner .carousel-item .banner__items {
        bottom: 10%;
    }
    .carousel-indicators {
        bottom: 0
    }
    .carousel-inner .carousel-item img {
        height: 40rem;
        width: 100%;
    }
    .carousel-inner .carousel-caption h3 {
        font-size: 3rem;
    }
    .carousel-inner .carousel-caption h3 span {
        font-size: 2.5rem;
        font-weight: bold
    }
    .carousel-inner .carousel-caption p {
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
    }
    .carousel-inner .carousel-item .carousel-caption {
        width: 70%;
        margin: 0 auto
    }
    .stats__content {
        margin-top: 3rem
    }
    .stats__items i {
        font-size: 3rem;
        margin-bottom: 1rem
    }
    .stats__items h3 {
        color: #ff4f81;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .stats__items p {
        font-size: 3.5rem;
    }
}